@import './themes/default';

body {
  background: rgb(230, 216, 255);
  color: #555;
}

// view-attributes: 
@mixin view-attributes {
  width: $view-size;
  padding: $view-padding;
  box-sizing: border-box;
  margin: auto;
}

html:not([data-scroll='0']) {
	
	// body {
	//   padding-top: 3em;
	// }
	
	.Header {
		position: fixed;
		top: 0;
    width: 100%;
		//box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	}
	
}

.Header {
  height: $header-height;
  background: white;
  display: flex;
  
  header {    
    @include view-attributes;
  }
}

.Content {  
  @include view-attributes;
  padding-top: 20px;
  padding-bottom: 20px;
  //margin-top: $header-height;
}

.Footer {
  @include view-attributes;
}


// Cosmetics
header {
	box-sizing: border-box;
	padding: 1em;
	transition: background-color .25s;
}

main {
	padding:0 1em;
}